@use '@angular/material/theming' as mat;
@use 'sass:map';

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: map.get(mat.$mat-grey, 900);
  color: #FFF;
  margin: 0;
  padding: 0 8px;
}

mat-dialog-actions {
  display: flex;
  justify-content: end;
}

.menu {
  display: block;
  padding: 16px 0;
}
