@use '@angular/material/theming' as mat;
@use 'sass:map';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: map.get(mat.$mat-grey, 900);
  color: #FFF;
}

mat-dialog-actions {
  display: flex;
  justify-content: end;
}
