<!-- Check pokemons.component.spec.ts for unit tests -->
<app-menu class="menu"></app-menu>

<app-table
  *ngIf="pokemonData$ | async as pokemonData"
  hint="Click on a row in order for item menu to appear"
  [data]="pokemonData.data"
  [columns]="tableColumns"
  [visibleColumns]="visibleColumns"
  [pageSize]="pageSize"
  [total]="pokemonData.total"
  [loading]="$any(loading$ | async)"
  (search)="search($event)"
  (navigate)="loadPage($event)"
  (rowClicked)="openRowMenu($event)"
></app-table>
